:root {
  --white: #eeeeee;
  --green: #829460;
  --brown: #674747;
  --salmon: #f96666;
  --orange: #ff6e31;
  --black: #1a120b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Kanit", sans-serif;
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 2rem;
}

textarea {
  resize: none;
}

input,
select,
textarea {
  border: none;
}

.nuevo_pedido {
  background-color: var(--green);
  color: black;
  font-weight: 300;
}

/* ==== NAVBAR STYLES ==== */

nav {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

nav .logo {
  text-align: center;
}

nav .logo img {
  width: 3rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  flex: 1;
}

nav ul li {
  color: var(--black);
}

nav ul li:hover {
  color: var(--orange);
  transition: all 0.2s;
}

/* ==== HEADER STYLES ==== */

.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 1rem;
  color: var(--brown);
}

.header .left,
.header .right {
  flex: 1;
  text-align: center;
}

.header .left h1 {
  font-size: 4rem;
}

.header .left p {
  font-size: 1.4rem;
}

.header .right img {
  width: auto;
  filter: drop-shadow(5px 5px 5px #d855555d);
  max-height: 90vh;
}

/* ==== FORM FILTER STYLES ==== */

#foodList {
  background-color: var(--salmon);
  color: var(--white);
}

.formFilter {
  display: flex;
  align-items: center;
}

/* ==== ALTA PEDIDO STYLES ==== */

#altaPedido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: var(--salmon);
  color: var(--white);
}

/* ==== FORM ALTA PEDIDO STYLES ==== */

.formPedido {
  flex: 1;
}

.formPedido .formItem textarea {
  height: 100px;
}

.campoInvalido {
  border: 2px solid red;
}

/* ==== FORM ITEM STYLES ==== */

.formItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.formItem label {
  font-weight: 400;
  font-size: 1.2rem;
}

.formItem input,
.formItem select,
.formItem textarea {
  padding: 0.5rem;
  border-radius: 0.2rem;
}

/* ==== CARD STYLES ==== */

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--black);
  gap: 0.5rem;
  max-width: 300px;
}

.cardHeader .card-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.cardMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.cardMain .card-title {
  font-weight: 400;
}

.cardMain .card-price {
  background-color: var(--salmon);
  font-size: 1.2rem;
  color: var(--white);
  padding: 0.5rem;
}

.cardFooter {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardFooter.flex-col {
  flex-direction: column;
  
}

.cardFooter .card-tipo {
  font-size: 0.8rem;
  color: var(--white);
  background-color: var(--black);
  padding: 0.2rem 0.5rem;
}

.cardFooter .nuevoPedido img {
  text-align: center;
  width: 1.2rem;
}

/* ==== FOOTER STYLES ==== */

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--black);
  padding: 2rem;
}

.footer h2 {
  font-size: 2rem;
  color: var(--orange);
}

.footer .integrante {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 1rem;
}

.footer .integrante span {
  font-weight: 700;
}

.footer .integrante .icon_chef {
  width: 2rem;
}

/* BUTTON STYLE */
.btn {
  background: var(--orange);
  border: 1px solid var(--orange);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  transition: background-color 0.2s;
}

.btn:hover,
.btn:active {
  background-color: var(--white);
  background-position: 0 0;
  color: var(--orange);
}

.btn:active {
  opacity: 0.5;
}
