.Filter {
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
}

.Filter .filterItem {
  font-family: "Sawarabi Mincho", serif;
  flex: 1;
  background-color: var(--cream);
  border: 2px solid var(--black);
  font-size: 1rem;
}

.Filter .filterBtn {
  color: var(--blue);
  border-color: var(--blue);
}

.Filter .filterBtn:hover {
  background-color: var(--blue);
  color: var(--cream);
}
