.Header {
  display: flex;
  align-items: stretch;
  background-color: var(--cream);
}

.Header .left {
  flex: 3;
}

.Header .left img {
  max-width: 100%;
}

.Header .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4;
}

.Header .right .headerTitle {
  margin: 0;
  text-align: right;
  font-family: "Mochiy Pop One", sans-serif;
  letter-spacing: 0.6rem;
  font-size: 4rem;
  color: var(--red);
}

.Header .right .headerTitle:nth-child(2) {
  text-align: left;
}

.Header .right a {
  align-self: flex-end;
  margin-top: 3rem;
  text-align: right;
}

.Header .right a .headerBtn {
  font-size: 1.2rem;
}

@media all and (max-width: 1280px) {
}

@media all and (max-width: 1024px) {
  .Header .left {
    flex: 1;
  }
  .Header .right {
    flex: 1;
  }
  .Header .right .headerTitle {
    letter-spacing: 0.6rem;
    font-size: 3rem;
  }
}

@media all and (max-width: 768px) {
  .Header .right .headerTitle {
    letter-spacing: 0.4rem;
    font-size: 2.5rem;
  }
}

@media all and (max-width: 640px) {
  .Header {
    flex-direction: column;
  }
  .Header .left {
    align-self: center;
  }
  .Header .left img {
    text-align: center;
    max-width: 250px;
  }
}
